
p {
	/* font-size: 18px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.8;
	color: #252525;
	margin: 0 0 0 0;
}

h2 {
	font-size: 46px;
	font-weight: 500;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
	outline: none;
}

button,
button.btn-default {
	font-size: 16px;
	line-height: 100%;
	font-weight: normal;
	letter-spacing: 0;
	background: #333333;
	border: none;
	border-radius: 12px;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	font-weight: normal;
	box-shadow: none;
	text-shadow: none;
}

button:hover,
button:active,
button:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	background: #006daf;
	color: white;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0;
}

.form-control {
	height: 36px;
}

.form-group {
	position: relative;
}

footer a:hover,
header a:hover {
	text-decoration: underline;
}

h5 {
	position: relative;
	display: inline-block;
}

h5:after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 4px;
	width: 50%;
	height: 2px;
	background: rgb(147, 92, 248);
	transition: 0.2s;
	background: linear-gradient(45deg, #250d44, #0e5198, #8AA9D6);
	border-radius: 1px;
}

.contacts-sect p:after {
	width: 0;
}

.contacts-sect p span {
	display: block;
	font-size: 14px;
	margin-top: 4px;
	line-height: 140%;
}

#contacts-block {
	background: url(https://suffix.by/img/about/world-en.svg);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 95% 50%;
}

.contacts-margin {
	margin-top: 64px;
}

.main-sites,
.main-mobiledev,
.main-estimate {
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
	transition: 1.5s;
	padding: 72px 0;
}

.messages {
	width: 100%;
	border-radius: 12px;
}

.main-h2-title {
	padding: 0 0 24px;
}

.main-h1-title {
	padding: 0 0 24px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 24px;
}

.main-h5-title {
	padding: 0 0 24px;
	margin-bottom: 24px;
}

.main-h5-title h5 {
	font-size: 36px;
	font-weight: normal;
}

.main-estimate h6 {
	font-size: 24px;
	margin-bottom: 12px;
}

.main-estimate .main-h5-title.border-line {
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 32px;
	margin-bottom: 32px;
}


input.estimate-input,
select.estimate-select {
	padding: 0 10px;
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	border-radius: 8px;
	width: 100%;
	border: 1px solid #e4e4e4;
	margin-bottom: 10px;
	height: 40px;
}

.main-estimate-form .btn {
	padding: 12px;
	border-radius: 8px;
}

textarea.estimate-textarea {
	padding: 10px 10px;
	border-radius: 8px;
	width: 100%;
	border: 1px solid #e4e4e4;
	min-height: 124px;
	max-height: 400px;
	max-width: 100%;
}

#form-response.has-error {
	display: block;
	color: #fff;
	background-color: rgba(171, 68, 66, .8);
	border: 1px solid #ab4442;
}

#form-response.success {
	display: block;
	color: #fff;
	background-color: rgba( 53, 168, 153, .8);
	border: 1px solid #35A899;
}

#form-response {
	display: none;
}

.error {
	position: relative;
}

.error {
	border: 1px solid #ab4442 !important;
}
